# Pandas Series

In [1]:
import pandas as pd
import numpy as np

In [2]:
s = pd.Series([10, 20, 30], index=["a", "b", "c"])
s

a    10
b    20
c    30
dtype: int64

In [3]:
s["a"]

10

## Create series from dictionary

In [4]:
capitals = {
    "USA": "Washington D.C",
    "Canada": "Ottawa",
    "UK": "London",
    "France": "Paris"
}

s = pd.Series(capitals)
s

USA       Washington D.C
Canada            Ottawa
UK                London
France             Paris
dtype: object

In [5]:
s.index

Index(['USA', 'Canada', 'UK', 'France'], dtype='object')

In [6]:
s.values

array(['Washington D.C', 'Ottawa', 'London', 'Paris'], dtype=object)

In [7]:
s.items()

In [8]:
list(s.items())

[('USA', 'Washington D.C'),
 ('Canada', 'Ottawa'),
 ('UK', 'London'),
 ('France', 'Paris')]

### Can have repeated index

In [9]:
areas = pd.Series(
    ["USA", "Topeka", "France", "Lyon", "UK", "Glasgow"],
    index=["country", "city", "country", "city", "country", "city"]
)
areas

country        USA
city        Topeka
country     France
city          Lyon
country         UK
city       Glasgow
dtype: object

In [10]:
areas["city"]

city     Topeka
city       Lyon
city    Glasgow
dtype: object

In [12]:
areas.iloc[0]

'USA'

In [13]:
areas.iloc[3]

'Lyon'

In [16]:
# updating value from Lyon to Paris
areas.iloc[3] = "Paris"

In [17]:
areas

country        USA
city        Topeka
country     France
city         Paris
country         UK
city       Glasgow
dtype: object

### Slicing

In [18]:
s = pd.Series([10, 20, 30, 40, 50], index=list("abcde"))
s

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [20]:
s["a":"d"] # d is include

a    10
b    20
c    30
d    40
dtype: int64

In [21]:
s[0:3]

a    10
b    20
c    30
dtype: int64

In [23]:
s["a"], s.iloc[0]

(10, 10)

In [24]:
s = pd.Series([100, 200, 300, 400, 500], index=[1, 2, 3, 4, 5])
s

1    100
2    200
3    300
4    400
5    500
dtype: int64

In [25]:
s[1]

100

In [26]:
s.iloc[1]

200

In [27]:
s[1:]

2    200
3    300
4    400
5    500
dtype: int64

In [29]:
s.iloc[0]

100

In [30]:
s.loc[2]

200

In [31]:
areas

country        USA
city        Topeka
country     France
city         Paris
country         UK
city       Glasgow
dtype: object

In [32]:
areas[areas != "UK"]

country        USA
city        Topeka
country     France
city         Paris
city       Glasgow
dtype: object

In [33]:
areas[areas != "city"]

country        USA
city        Topeka
country     France
city         Paris
country         UK
city       Glasgow
dtype: object