# Belajar Pandas DataFrame

## Membuat manual DataFrame

In [2]:
import pandas as pd

In [3]:
nama = ["Endang", "Indah", "Alde", "Aqeela", "Auza", "Arsyila", "Akhdan"]
usia = [39, 38, 14, 12, 7, 5, 1]
suka_es_krim = [False, True, False, True, True, True, False]

In [4]:
dt_family = pd.DataFrame({"nama": nama, "usia": usia, "suka_es_krim": suka_es_krim})
dt_family

      nama  usia  suka_es_krim
0   Endang    39         False
1    Indah    38          True
2     Alde    14         False
3   Aqeela    12          True
4     Auza     7          True
5  Arsyila     5          True
6   Akhdan     1         False

In [5]:
dt_family.axes

[RangeIndex(start=0, stop=7, step=1),
 Index(['nama', 'usia', 'suka_es_krim'], dtype='object')]

In [6]:
dt_family.axes[0]

RangeIndex(start=0, stop=7, step=1)

In [7]:
dt_family.axes[1]

Index(['nama', 'usia', 'suka_es_krim'], dtype='object')

In [8]:
dt_family.axes[1][2]

'suka_es_krim'

In [9]:
dt_family.axes[0][2]

2

In [11]:
dt_family.axes[0][2]

2

In [12]:
dt_family.columns[1]

'usia'

In [13]:
dt_family.loc[2]

nama             Alde
usia               14
suka_es_krim    False
Name: 2, dtype: object

In [15]:
dt_family.loc[(2, 3), ("nama", "usia" )]

     nama  usia
2    Alde    14
3  Aqeela    12